---
import Layout from "@layouts/Layout.astro";
import mapaAmba from "../assets/mapaAmba.png";
import { whatsappLink } from "@utils/whatsapp";
import { Picture } from "astro:assets";
import Sectionhead from "../components/sectionhead.astro";

const pricing = [
  {
    description: "de 10 a 50 paquetes",
    category: "Standar Seller",
    prices: [
      { zone: "CABA", price: 2600 },
      { zone: "GBA1", price: 3400 },
      { zone: "GBA2", price: 4300 },
      { zone: "GBA3", price: 6500 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink
    }
  },
  {
    description: "mas de 50 paquetes",
    category: "Pro Seller",
    prices: [
      { zone: "CABA", price: 2300 },
      { zone: "GBA1", price: 3000 },
      { zone: "GBA2", price: 3800 },
      { zone: "GBA3", price: 5900 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink
    }
  },
  {
    description: "clientes especiales",
    category: "Best Seller",
    prices: [
      { zone: "CABA", price: 2000 },
      { zone: "GBA1", price: 2600 },
      { zone: "GBA2", price: 3300 },
      { zone: "GBA3", price: 5000 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink
    }
  }
];
---

<Layout title="Cobertura">
  <Sectionhead>
    <Fragment slot="title">Cobertura</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>
  <div class="flex justify-center px-5 lg:px-20 flex-col lg:flex-row ">
    <div class="content_map">
    <div class="map">
      <Picture
        src={mapaAmba}
        alt="Mapa AMBA"
        widths={[200, 400, 600]}
        sizes="(max-width: 600px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
  <div
    class="bg-secondary p-8 md:px-20 md:py-10 mt-10 mx-auto max-w-5xl shadow-lg rounded-lg flex flex-col items-center text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight"> Zonas Cubiertas </h2>
    <div><h3 class="text-white font-bold mt-5 text-lg md:text-2xl">游늸 CABA </h3>
      <p class="text-white text-lg md:text-xl"> Todas las comunas </p>
    </div>
    <div><h3 class="text-white font-bold mt-5 text-lg md:text-2xl">游늸 GBA 1 </h3>
      <p class="text-white text-lg md:text-xl"> Vicente L칩pez, San Isidro, San Fernando, San Mart칤n, Tres de Febrero,
        Mor칩n, Hurlingham, Ituzaing칩, Matanza Norte, Lomas de Zamora, Lan칰s, Avellaneda. </p>
    </div>
    <div><h3 class="text-white font-bold mt-5 text-lg md:text-2xl">游늸 GBA 2 </h3>
      <p class="text-white text-lg md:text-xl"> Tigre, Malvinas Argentinas, Jos칠 C. Paz, San Miguel, Moreno, Merlo,
        Matanza Sur, Ezeiza, Esteban Echeverr칤a, Almirante Brown, Quilmes, Florencio Varela, Berazategui. </p>
    </div>
    <div><h3 class="text-white font-bold mt-5 text-lg md:text-2xl">游늸 GBA 3 </h3>
      <p class="text-white text-lg md:text-xl">Berisso, Del Viso, Derqui, Ensenada, Escobar, General Rodr칤guez,
        Guernica, Ca침uelas, Ingeniero Maschwitz, La Plata Centro, La Plata Norte, La Plata Oeste, Luj치n, Marcos Paz,
        Nordelta, Pilar, San Vicente, Villa Rosa, Gar칤n. </p>
    </div>
  </div>
  </div>

</Layout>

<style>
    .content_map {
        display: flex;
        justify-content: center;
    }
</style>