---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

const { align = "center" } = Astro.props;
---

<Layout title="Nosotros">
  <Container>
    <div class= "mt-16 text-center">
      <Sectionhead>
        <Fragment slot="title">FlexAI</Fragment>
        <Fragment slot="desc">
          Tu Socio Logístico en Mercado Libre
        </Fragment>
      </Sectionhead>
      <img src="/assets/meliIcon.svg" alt="Mercado Libre" class="inline-block h-40 w-40" />
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl ">
      <p class="text-lg leading-relaxed text-slate-500">
      Entendemos que la logística es un componente clave para el éxito de tu negocio, y por eso, nos esforzamos por ser más que un proveedor. Somos tu aliado estratégico, garantizando la cobertura en todas las zonas habilitadas por Mercado Libre, dos recorridos diarios de lunes a sábado y un sistema innovador que te permite gestionar tus envíos con total facilidad.</p>

      <p class="text-lg leading-relaxed text-slate-500"> En FlexAI, no solo transportamos paquetes; también construimos confianza. Nuestra misión es respaldar tu reputación y cuidar de tus productos como si fueran nuestros. Porque entendemos que cada entrega es una oportunidad para hacer la diferencia.</p>
    </div>
  </Container>
</Layout>
