---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import { whatsappLink } from '@utils/whatsapp';

const pricing = [
  {
    description: "10 a 50 paquetes por día",
    category: "Standar Seller",
    prices:  [
      { zone: "CABA", price: 2600 },
      { zone: "GBA1", price: 3400 },
      { zone: "GBA2", price: 4300 },
      { zone: "GBA3", price: 6500 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
  {
    description: "Más de 50 paquetes por día",
    category: "Pro Seller",
    prices: [
      { zone: "CABA", price: 2300 },
      { zone: "GBA1", price: 3000 },
      { zone: "GBA2", price: 3800 },
      { zone: "GBA3", price: 5900 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
  {
    description: "Clientes especiales",
    category: "Best Seller",
    prices: [
      { zone: "CABA", price: 2000 },
      { zone: "GBA1", price: 2600 },
      { zone: "GBA2", price: 3300 },
      { zone: "GBA3", price: 5000 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        Tarifas claras y competitivas. Sin costos ocultos.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-5 shadow-lg mx-auto max-w-screen-lg mt-8">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
  <div class="bg-primary p-10 md:px-15 md:py-15 mt-10 mx-auto max-w-5xl rounded-lg shadow-lg flex flex-col items-center text-center space-y-6">
    <p class="text-gray-700 text-xl md:text-xl leading-relaxed">📦🤝 Si tu comercio está a menos de 5 cuadras de otro, pueden unir sus paquetes para acceder a tarifas más bajas. Por ejemplo, sumando 25 paquetes tuyos con 30 del vecino, califican para precios de +50 envíos diarios. ¡Optimiza costos uniéndote a otros comercios cercanos! 🚀💰</p>
  </div>
</Layout>
