---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import { whatsappLink } from '@utils/whatsapp';

const pricing = [
  {
    description: "10 a 50 paquetes por día",
    category: "Standar Seller",
    prices:  [
      { zone: "CABA", price: 2600 },
      { zone: "GBA1", price: 3200 },
      { zone: "GBA2", price: 4000 },
      { zone: "GBA3", price: 5500 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
  {
    description: "50 a 100 paquetes por día",
    category: "Pro Seller",
    prices: [
      { zone: "CABA", price: 2300 },
      { zone: "GBA1", price: 2900 },
      { zone: "GBA2", price: 3700 },
      { zone: "GBA3", price: 5200 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
  {
    description: "Más de 100 paquetes por día",
    category: "Best Seller",
    prices: [
      { zone: "CABA", price: 2000 },
      { zone: "GBA1", price: 2600 },
      { zone: "GBA2", price: 3400 },
      { zone: "GBA3", price: 4900 }
    ],
    button: {
      text: "Contactarme",
      link: whatsappLink,
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        Tarifas claras y competitivas. Sin costos ocultos.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-5 shadow-lg mx-auto max-w-screen-lg mt-8">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
  <div class="bg-primary p-10 md:px-15 md:py-15 mt-10 mx-auto max-w-5xl rounded-lg shadow-lg flex flex-col items-center text-center space-y-6">
    <p class="text-gray-700 text-xl md:text-xl leading-relaxed">📦🤝 ¡Ahorra más combinando envíos con otro comercio! Si envías 30 paquetes diarios y un comercio aliado tiene 25, juntos pueden calificar para el plan de +50 envíos diarios y obtener tarifas más bajas. 💸💰 ¡Optimiza tus costos colaborando con negocios cercanos! 🚀</p>
  </div>
</Layout>
