---
// @ts-ignore
import { Icon } from "astro-icon/components";

const diferenciales = [
  {
    title: "Cobertura total en CABA y GBA",
    description:
      "Llegamos a todas las zonas, incluyendo las nuevas localidades habilitadas por Mercado Libre.",
    icon: "bx:bx-map",
  },
  {
    title: "Entregas rápidas y eficientes",
    description:
      "Dos recorridos diarios, de lunes a sábado, para que tus productos lleguen a tiempo.",
    icon: "bx:bxs-truck",
  },
  {
    title: "Flexibilidad y control",
    description:
      "Sistema integrado 'lighdata' para gestionar tus envíos y acceder a información detallada.",
    icon: "bx:bxs-data",
  },
  {
    title: "Máxima seguridad",
    description:
      "Garantizamos el 100% de las entregas, protegiendo tu reputación y tu mercadería.",
    icon: "bx:bxs-shield",
  },
  {
    title: "Atención personalizada",
    description:
      "Nuestro equipo está siempre disponible para resolver tus dudas y brindarte el mejor servicio.",
    icon: "bx:bxs-user-voice",
  },
  {
    title: "Reprogramaciones sin preocupaciones",
    description:
      "Gestionamos las reprogramaciones con los compradores, asegurando la entrega en tiempo y forma.",
    icon: "bx:bxs-calendar",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para gestionar tus envíos
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Con FLEXAI, tienes todo lo que necesitas. Combinamos las mejores prácticas logísticas con nuestra tecnología innovadora para simplificar y optimizar tus entregas.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    diferenciales.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-secondary rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>